<ion-content>
  <div class="center-all-content">
    <h1 class="title">event</h1>
    <p class="page-title">register</p>
    <ion-button expand="full" fill="clear" class="button-outline-thin mb1" routerLink="/register/google">google
    </ion-button>
    <ion-button expand="full" fill="clear" class="button-outline-thin mb1" routerLink="/register/facebook">facebook
    </ion-button>
    <ion-button expand="full" fill="clear" class="button-outline-thin mb1" routerLink="/register/email">email
    </ion-button>
    <ion-button expand="full" fill="clear" class="button-underline" routerLink="/welcome">go back
    </ion-button>
  </div>
</ion-content>