@import '../../../theme/variables.scss';

.tag-container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
}
.tag-item{
    margin: 0 10px 10px 0;
    padding: 5px;
    background-color:  var(--ion-color-primary);
    color: var(--ion-color-light)
}
.tag-item:not(.selected) {
    background-color: #be9c2c8f;
}