<div class="add-tags-div">
  <ion-button class="action-button no-margin mb1" fill="clear" expand="block" (click)="addTags()">add tags</ion-button>
  <div class="added-tags-div mb1">
    <app-tags [tags]="tags"></app-tags>
  </div>
</div>