<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button mode="md" layout="label-hide" tab="feed">
      <ion-icon name="home"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="label-hide" tab="event">
      <ion-icon name="add"></ion-icon>
      <ion-label>Create Event</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="label-hide" tab="favorites">
      <ion-icon name="star"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="label-hide" tab="profile">
      <ion-icon name="happy"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>