<ion-content>
  <div class="center-all-content ">
    <h1 class="title">event</h1>
    <ion-button expand="full" fill="clear" class="button-outline-thin mb1" routerLink="/register">Register</ion-button>
    <ion-button expand="full" fill="clear" class="button-outline-thicc" routerLink="/login">Log in</ion-button>
  </div>
</ion-content>