<ion-list lines="full" class="ion-no-margin ion-no-padding">
  <ion-item class="input-outline mb2">
    <ion-label position="stacked">Name <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required type="text" [(ngModel)]="accountData.name" name="name"></ion-input>
  </ion-item>