@import url(../../theme/variables.scss);

.create-event-div {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.checkbox-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5% 0 5% 0;
  color: black;
}

.help-icon {
  height: 18px;
  width: 18px;
}

.colored-title {
  color: var(--ion-color-primary);
}
