<div class="center-all-content">
  <h1 class="title">event</h1>
  <p class="page-title">login email</p>
  <div *ngIf="showError" class="error-info-div">
    <ion-text>{{ error }}</ion-text>
  </div>

  <div *ngIf="missingInformationError" class="error-info-div">
    <ion-text>Missing information, try again.</ion-text>
  </div>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item class="input-outline mb1">
      <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="email" [(ngModel)]="authData.username" name="username"></ion-input>
    </ion-item>
    <ion-item class="input-outline mb1">
      <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required #passInput type="password" name="username" [(ngModel)]="authData.password"></ion-input>
      <ion-icon ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)="showPassword(passInput)">
      </ion-icon>
    </ion-item>
  </ion-list>
  <ion-button type="submit" fill="clear" class="button-outline-thicc" (click)="logIn()">
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    <ion-text *ngIf="!loading">Login</ion-text>
  </ion-button>
  <ion-button expand="full" fill="clear" class="button-underline" routerLink="/login">go back
  </ion-button>
</div>